@font-face {
  font-family: 'Airbnb Cereal App';
  font-weight: 300;
  src: url(assets/font/AirbnbCereal_W_Lt.otf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  font-weight: 400;
  src: url(assets/font/AirbnbCereal_W_Bk.otf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  font-weight: 500;
  src: url(assets/font/AirbnbCereal_W_Md.otf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  font-weight: 600;
  src: url(assets/font/AirbnbCereal_W_Bd.otf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  font-weight: 700;
  src: url(assets/font/AirbnbCereal_W_XBd.otf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  font-weight: 900;
  src: url(assets/font/AirbnbCereal_W_Blk.otf);
  font-style: normal;
  font-display: swap;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-family: 'Airbnb Cereal App';
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #424242;
}

a {
  color: inherit;
}

body {
  max-width: 1366px;
  margin: auto;
  background-color: #fff;
  height: 100vh;
}

